header{
    background-color: black;
    text-align: center;
    padding: 15px; 
    border-radius: 15px;
}

body{
    color: rgb(255, 0, 191);
    background-color: aquamarine;
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
}

footer{
    text-align: center;
}

.imagem{
    text-align: center;
}
.botao{
    border-radius: 20px;
}